*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    width: 100%;

    display: flex;
    flex-direction: column;
}

form input{
    margin: 1%;
}

form input[type=button]{
    width: 10%;
    padding: 1%;
}