@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 13px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #3d3d3f;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #171717;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #171717;
    }