*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg_blue: #22ccee;
    --txt_blue: #d5f8ff;
    --shadow_blue: #89eafd;

    --bg_yellow: #ffdd43;
    --txt_yellow: #fcfcdd;
    --shadow_yellow: #fdeea7;

    --bg_pink: #fe50ac;
    --txt_pink: #fbd2e8;
    --shadow_pink: #ffacd8;

    --bg_black: #445576;
    --txt_black: #ccddee;
    --shadow_black: #ccddee;

    --table_selected: #ccddee;
    --table_bg: #fff;
    --game_bg: #dee;
}

html, body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--game_bg) !important;
}

/* Buttons */

.easy, .middle, .hard{
    width: 40%;
    height: 40px;

    border: none;
    border-radius: 6px;

    font-weight: bold;
}

.easy, .one{
    background-color: var(--bg_blue);
    color: var(--txt_blue);
    box-shadow: 0 0.4rem var(--shadow_blue);
}

.easy:active{
    box-shadow: 0 0.2rem var(--shadow_blue);
}

.middle, .two{
    background-color: var(--bg_yellow);
    color: var(--txt_yellow);
    box-shadow: 0 0.4rem var(--shadow_yellow);
}

.middle:active{
    box-shadow: 0 0.2rem var(--shadow_yellow);
}

.hard, .three{
    background-color: var(--bg_pink);
    color: var(--txt_pink);
    box-shadow: 0 0.4rem var(--shadow_pink);
}

.hard:active{
    box-shadow: 0 0.2rem var(--shadow_pink);
}

.four{
    background-color: var(--bg_black);
    color: var(--txt_black);
    box-shadow: 0 0.4rem var(--shadow_black);
}

.easy:active,
.middle:active,
.hard:active{
    transform: translateY(0.2rem);
}



section{
    height: 80vh;
}

/* Table */

table{
    text-align: center;
    width: 70% !important;
}

table tr,
table td{
    background-color: var(--table_bg);
    border: 4px solid var(--game_bg);
    border-radius: 13px;

    width: 2% !important;
    height: 40px;

    font-size: 1.3rem;
    font-weight: bold;
}

table td:hover{
    filter: brightness(90%);
    cursor: pointer;
}

.nothing {
    background-color: var(--table_selected);
}

/* Layout */

.layout{
    width: 70%;
    margin-bottom: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    display: none;
}

.layout .emoji{
    font-size: 4.5rem;
    cursor: pointer;
}

.num_bombs, .game_time{
    background-color: var(--table_selected);
    color: white;

    font-weight: bold;

    padding: 1%;
    border-radius: 20px;
}